# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.md
*.uss
# ===========================
# Default Collab Ignore Rules
# ===========================

# OS Generated
# ============
.DS_Store
._*
.Spotlight-V100
.Trashes
[Tt]emp
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini

# Visual Studio / MonoDevelop generated
# =====================================
[Ee]xported[Oo]bj/
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.log
srotage.*

# Other
# ===============
*.zip
*.rar

# Unity generated
# ===============
[Oo]bj/
Logs/
Compresions/
Library/
Library
Library\
*Library
[Bb]uild
sysinfo.txt
*.stackdump
UserSettings/Layouts/default-2021.dwlt
*.log
Library/ArtifactDB
Library/SourceAssetDB
Library/ArtifactDB
Library/Bee/1300b0aE-inputdata.json
Library/Bee/1300b0aE.dag
Library/Bee/1300b0aE.dag.json
Library/Bee/1300b0aE.dag_derived
Library/Bee/1300b0aE.dag_fsmtime
Library/Bee/profiler.json
Library/Bee/tundra.digestcache
Library/Bee/tundra.log.json
Library/Bee/TundraBuildState.state
Library/Bee/TundraBuildState.state.map
Library/CurrentLayout-default.dwlt
Library/LastSceneManagerSetup.txt
Library/SceneVisibilityState.asset
Library/Search/transactions.db
Library/SourceAssetDB
UserSettings/EditorUserSettings.asset
Library/ArtifactDB
Library/Bee/1300b0aE-inputdata.json
Library/Bee/1300b0aE.dag
Library/Bee/1300b0aE.dag.json
Library/Bee/1300b0aE.dag.outputdata
Library/Bee/1300b0aE.dag_derived
Library/Bee/1300b0aE.dag_fsmtime
Library/Bee/artifacts/1300b0aE.dag/Assembly-CSharp-firstpass.rsp
Library/Bee/profiler.json
Library/Bee/tundra.digestcache
Library/Bee/tundra.log.json
Library/Bee/TundraBuildState.state
Library/Bee/TundraBuildState.state.map
