# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
Library/Artifacts/0c/0c484b9d61527b6609240ba8cdf74390
Library/Artifacts/1b/1b1d16f43cbd4495bc799249fabf9a63
Library/Artifacts/58/586d5490b030d2d203ab7a99df200966
Library/Artifacts/ba/ba000700b87069ecf18cb53227365228
Library/Artifacts/c4/c4601e8aa99a25b7e37278c72796889f
Library/SourceAssetDB
Temp/UnityLockfile
Temp/workerlic
Library/ArtifactDB
